*,
*::before,
*::after {
  box-sizing: border-box; 
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

a, button {
    color: var(--text-color);
}

/* variables */
:root {
    --logo-width: 200px;
    --content-width: 100%;
    font-family: Open sans, sans serif;
    font-size: 14px;
    --background-surface: rgb(24, 24, 24); /* Outer background (page-level) */
    --background-box: rgba(0, 0, 0, 0.3); /* Inner background (boxes/cards) */
    --background-highlight: #2e343b; /* Inner background (boxes/cards) */
    --background-highlight-small: #1d1d1d;
    --background-header: #181818;
    --background-subheader: #181818;
    --background-darker-gray: #38414c;
    --suportColor: #6fa7d7;
    --text-color: rgb(188, 194, 203);
    --text-color-contrast-against-highlight: black;
    --link-in-text: cornflowerblue;
    --link-in-text-hover: rgb(150, 179, 235);
    --gold-color: rgb(194, 169, 112);
    --star-empty-color: rgba(0,0,0,0);
    --tag-background: rgb(36, 36, 36)
}

/*mobile first */

/* header -------------------------*/
.page-header-wrapper {
    display: flex;
    flex-direction: column;
    > .container {
        display: flex;
        justify-content: space-around;

        > * {
            width: var(--content-width);
        }
        &.top {
            background-color: black;
        }
        &.menu {
            background-color: var(--background-surface);
        }
    }

}
#hamburger {
    display: block;
}
#logo-top {
    width: var(--logo-width);
}
.page-header-top {
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: var(--content-width);
    .head-buttons {
        display: flex;
        max-width: 100%;
    }
    /* buttons in header notifications, login, hamburger */
    button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        margin: 0rem 0.rem;
    }
}

.page-header-menu {
    background-color: var(--background-subheader);
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        a {
            padding: 16px 18px 15px;
            display: flex;
            align-items: center;
            text-decoration: none;

        }
        a:hover {
            background-color: var(--background-highlight);
        }
    }
    .search {
        display: flex;
        justify-content: center;
        background-color: var(--background-darker-gray);
        input, button {
        height: 38px;
        
        }
        input{
            padding-left: 20px;
            font-size: 13px;
            width: 110px;
            font-family: Open Sans, sans-serif;
            border: 0;
            color: white;
            background-color: rgba(0, 0, 0, 0);
            &::placeholder{
                color: white;
            }
            &:focus{
                outline: none;
            }
        }
        .search{
            padding-top: 7px;
            border: 0;
            color: #54697d;
            background-color: rgba(0, 0, 0, 0);
            display: flex;

        }
        .advanced-search{
            border: 0;
            color: white;
            background-color: rgb(51, 122, 183);
            &:hover{
                background-color: rgb(40, 96, 144);
            }
        }
    }
}
/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  
    .dropdown-button {
      padding: 16px 18px 15px;
      font-family: Open Sans, sans-serif;
      font-size: 14px;
      background: none;
      border: none;
      cursor: pointer;
      font: inherit;
      display: flex;
      align-items: center;
      text-decoration: none;
  
      &:hover {
        background-color: var(--background-highlight);
        /* color: var(--text-color-contrast-against-highlight); */
      }
    }
  
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--background-subheader);
      list-style: none;
      margin: 0;
      padding: 0;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      min-width: 160px;
      z-index: 1000;
  
      li {
        position: relative;

        a {
          padding: 10px 12px;
          font-family: Open Sans, sans-serif;
          font-size: 14px;
          gap: 0.25rem;
          display: flex;
          justify-items: center;
          text-decoration: none;
          color: var(--text-color);
          white-space: nowrap;
          span{
            color: var(--suportColor);
          }
          &:hover {
            background-color: var(--background-highlight-small);
          }
        }
      }
    }
    
    &:hover > .dropdown-menu {
        display: block;
    }
}

  

/* site background image */
.background {
    z-index: -10000;
    position: fixed;
    height: 100%;
    width: 100%;
    background: url(img/new-bg.jpg);
    background-size: cover;
    background-position: center;
}

/* body --------------------------------------*/
.page-container {
}

.page-body-content {
    background-color: rgb(24, 24, 24);
    padding: 1rem;
    width: var(--content-width);
    flex-direction: row;
}

.home {
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#news {
    background-image: url(img/plea.png);
    background-position: right;
    background-size: cover;
    height: 15rem;

    #news-box {
        background-color: rgba(0,0,0,0.5);
        width: 50%;
        min-width: 480px;
        padding: 2rem;
        p {
            margin-bottom: 3rem;
        }
    }
}

.ad, .colum {
    background-color: var(--background-box);
    border: 1px solid var(--background-highlight);
}

.ad {
    /* for debug */
    /* display: none; */

    position: relative;
    padding: 1rem;
    font-size: 0.8em;
    text-align: center;
    a.close {
        position: absolute;
        top: 1rem;
        right: 1rem;

        padding: 0.3em;
        display: inline-flex;
        border: 1px solid gray;
        text-decoration: none;
        background-color: var(--background-highlight);
        align-items: center;
        span {
            font-size: small;
        }
    }
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    arrow {

    }
}
.partner-books-carousel {
    width: calc(100% - 2rem);

    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: small;
    height: 15rem;
    overflow-x: scroll;

    .partner-book-wrapper {
        /* this percentage changes in the media queries */
       flex: 0 0 100%;
    
       height: 100%;
       padding: 0rem 1rem;
       
       min-width: 0;
    }
    .partner-book {
        background-color: var(--background-box);
        border: 1px solid var(--background-highlight);
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 0;
        h4 {
            margin-top: 0;
        }
    }
    img.cover {
        object-fit: contain;
        max-height: 100%;
        flex-shrink: 1s;
    }
    .info {
        min-width: 0;
        overflow-y: hidden;
        display: flex;
        flex: 1 1 auto;
        .text {
            min-width: 0;
            padding: 1rem;
            flex: 1;
        }
    }
    .links {
        flex: 0 0 auto; 
        display: flex;
        flex-direction: row;
        > * {
            text-align: center;
            flex: 1;
            padding-top: 0.5rem;
            padding-bottom: 0.25;
            transition: background-color 0.5s;
        }
        img {
            width: 50%;
            max-height: 20px;
            object-fit: contain;
        }
        .amazon {
            background-color: gray;
            flex-shrink: 1;
        }
        .amazon:hover { background-color: rgb(84, 84, 84); }
        .audible {
            background-color: blue;
            flex-shrink: 1;
        }
        .audible:hover { background-color: rgb(1, 1, 147);}
    }
}

.item-with-thumb {
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    border-bottom: 1px solid gray;
    .text-info {
        flex: 1;
        margin-left: 1rem;
        min-height: 78px;

        h5 {
            margin:0;
        }
        ul {
            padding: 0;
        }
    }
    .thumb {
        img {
            width: 3rem;
        }
    }
}
.colum-holder{
    padding: 0;
    .gap{
        padding: 20px;
    }
    .colum{
        margin-bottom: 20px;
        width: 100%;
        .colum-head{
            margin: 1rem;
            margin-top: 0;
            text-transform:uppercase;
            color:var(--gold-color);
            display: flex;
            white-space: nowrap;
            align-items: center;
            font-weight: 300;
            border-bottom: 1px solid var(--background-highlight);
            h4{
                font-size: 16px;
                margin: 1rem;
                margin-left: 0.2rem;
                span{
                    font-size: 20px;
                }
            }
        }
        h5 {
            margin:0;
            margin-bottom: 2px;
            padding: 0;
            font-size: 15px;
            color: var(--gold-color);
            &:hover{
                text-decoration: underline;
            }
        }
        .colum-body-style0{
            ul{
                padding: 0;
            }
            li{
                margin: 0 1rem 1rem 1rem;
                padding: 1rem;
                border-bottom: 1px solid var(--background-highlight);
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    width: 3rem;
                    height: 80px;
                    width: 60px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                .list-body{
                    width: 250px;
                    flex: 1;
                    margin-left: 1rem;
                    min-height: 78px;
                    
                    .list-links{
                        display: flex;
                        flex-direction: column;
                        a{
                            text-decoration: none;
                            color: var(--link-in-text);
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .colum-body-style1{
            ul{
                padding: 0;
            }
            li{
                margin: 0 1rem 1rem 1rem;
                padding: 1rem;
                border-bottom: 1px solid var(--background-highlight);
                display: flex;
                flex-direction: row;
                align-items: center;

                .list-number{
                        width: 80px;
                        height: 80px;
                        font-size: 18px;
                        color: var(--gold-color);
                        h4{
                            padding-left: 30px;
                        }
                }
                img{
                        width: 3rem;
                        height: 80px;
                        width: 60px;
                        padding-left: 5px;
                        padding-right: 5px;
                }
                .list-body{
                        width: 250px;
                        flex: 1;
                        margin-left: 1rem;
                        min-height: 78px;
                        
                        h5 {
                            margin:0;
                            margin-bottom: 2px;
                            padding: 0;
                            font-size: 15px;
                            color: var(--gold-color);
                        }
                        ul {
                            padding: 0;
                        }
                        .badges {
                            display: flex;
                            flex-wrap: wrap;
                            
                            /* hide the scrollbar*/
                            -ms-overflow-style: none; /* IE and Edge */
                            scrollbar-width: none; /* Firefox */
                            &::-webkit-scrollbar {
                                display: none; /* Chrome, Safari, Opera */
                            }
                        }
                        .badge {
                            background-color: var(--tag-background);
                            border-radius: 0.75rem;
                            font-size: 9px;
                            font-weight: 900;
                            padding: 3px 6px;
                            margin-right: 0.25rem;
            
                        }
                        .star-rating, .star-rating-graphic {
                            height: 1.25rem;
                            width: 5rem;
                            font-size: 33px;
                        }
                
                        .star-and-followers {
                            display: flex;
                            justify-content: space-between;
                        }
                        .follower-count {
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            margin-right: 3rem;
                        }
                }

                
            }
        }
        .colum-body-style2{
            ul{
                padding: 0;
            }
            li{
                margin: 0 1rem 1rem 1rem;
                padding: 1rem;
                border-bottom: 1px solid var(--background-highlight);
                display: flex;
                flex-direction: row;
                align-items: center;

                .list-number{
                        width: 80px;
                        height: 80px;
                        font-size: 18px;
                        color: var(--gold-color);
                        h4{
                            padding-left: 30px;
                        }
                }
                img{
                        width: 3rem;
                        height: 80px;
                        width: 60px;
                        padding-left: 5px;
                        padding-right: 5px;
                }
                .list-body{
                        width: 250px;
                        flex: 1;
                        margin-left: 1rem;
                        min-height: 78px;
                        
                        h5 {
                            margin:0;
                            margin-bottom: 2px;
                            padding: 0;
                            font-size: 15px;
                            color: var(--gold-color);
                        }
                        ul {
                            padding: 0;
                        }
                        .badges {
                            display: flex;
                            flex-wrap: wrap;
                            
                            /* hide the scrollbar*/
                            -ms-overflow-style: none; /* IE and Edge */
                            scrollbar-width: none; /* Firefox */
                            &::-webkit-scrollbar {
                                display: none; /* Chrome, Safari, Opera */
                            }
                        }
                        .badge {
                            background-color: var(--tag-background);
                            border-radius: 0.75rem;
                            font-size: 9px;
                            font-weight: 900;
                            padding: 3px 6px;
                            margin-right: 0.25rem;
            
                        }
                        .star-and-followers {
                            display: flex;
                            justify-content: space-between;
                        }
                        .follower-count {
                            display: flex;
                            align-items: center;
                            font-weight: bold;
                            margin-right: 3rem;
                        }
                }

                
            }
        }
    }
}

a.action-button {
    padding: 1rem;
    background-color: brown;
}


.md {
    display: none;
}

/*-------------------------FOOTER------------*/
.page-footer-wrapper{
    background-color: var(--background-surface);
}
.page-footer-content{
    padding: 1rem;
    width: var(--content-width);
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    h3 {
        text-transform:uppercase;
        color: var(--gold-color);
    }
    a{
        color: var(--link-in-text);
        text-decoration: none;
        &:hover {
            color: var(--link-in-text-hover);
            text-decoration: underline;
        }
    }
    
}

/* medium/tablet  480-767 */
@media screen and (min-width: 480px) {
    :root {
        --logo-width: 250px;
    }

    #hamburger {
        display: block;
    }
    
    .page-header-top {
        button {
            margin-left: 0.5rem
        }
    }
    .page-header-menu {
        display: none;
    }

    /*partners-books carousel */
    .partner-books-carousel .partner-book-wrapper {
        flex: 0 0 50%;
    }

    .md {
        display: block;
    }

    .page-footer-content {
        grid-template-columns: 1fr 1fr;
    }
}

/* tablet  768-1023 */
@media (min-width: 768px)
{
    .list-area {
        /* flex-direction: row;
        flex-wrap: wrap;
        > * {
            flex: 0 0 calc(50% - 0.5rem);
        } */
        columns: 2;
        column-gap: 1rem;
        > * {
            break-inside: avoid;
            margin-bottom: 1rem;
        }
    }
    .colum-holder{
        columns: 2;
        column-gap: 1rem;
        > * {
            break-inside: avoid;
            margin-bottom: 1rem;
        }
    }
}

.filler { /* class just for testing when body is higher than screen */
    height: 500px;
}

/* large/desktop 1024 - up */
@media screen and (min-width: 1024px) {
    :root {
        --logo-width: 350px;
        --content-width: 1024px;
    }
    #hamburger {
        display: none;
    }
    .page-header-wrapper, .page-body-wrapper, .page-footer-wrapper {
        display: flex;
        justify-content: space-around;
    }
    .page-header-content, .page-body-content, .page-footer-content {
        align-content: center;
    }
    .page-header-menu {
        display: flex;
    }

    /*partners-books carousel */
    .partner-books-carousel .partner-book-wrapper {
        flex: 0 0 33.3333%;
    }

    .page-footer-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1440px) {
    :root {
      --content-width: 1280px;
    }
    #hamburger {
        display: none;
    }
    .page-header-wrapper, .page-container {
        display: flex;
        justify-content: space-around;
    }
    .page-header-content, .page-content {
        align-content: center;
    }
    .page-header-menu {
        display: flex;
    }
}  

