/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --logo-width: 200px;
  --content-width: 100%;
}

/* Header ------------------------------------------------*/

.page-header-wrapper {
  background-color: aqua; /* for debug */
}

#hamburger {
  display: block;
}

#logo-top {
  width: var(--logo-width);
}

.page-header-top {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: var(--content-width);
}

.page-header-top .head-buttons {
  display: flex;
  max-width: 100%;
}

.page-header-top button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin: 0rem 0rem;
}

.page-header-menu {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.page-header-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.page-header-menu li {
  list-style-type: none;
  height: 51px;
}
.page-header-menu li:hover {
   background-color: gray;

}

.page-header-menu li a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.page-header-menu li a:hover {
  background-color: hsla(0, 100%, 100%, 0.2%);

}
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-button {
    height: 51px;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    display: flex;
    align-items: center;
    justify-content;
    text-decoration: none;
  }
  
.dropdown-menu {
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.dropdown:hover .dropdown-menu {
    display: block;
    width: auto;
    height: auto;
}

.dropdown-menu li {
    padding: 8px 12px;
    display: none;
  }
  .dropdown:hover .dropdown-menu li{
    display: block;
    background-color: gray;
}
  .dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
  }

.page-header-menu .search input,
.page-header-menu .search button {
  height: 2rem;
}

/* Background ---------------------------------*/

.background {
  z-index: -10000;
  position: fixed;
  height: 100%;
  width: 100%;
  background: url(img/new-bg.jpg);
  background-size: cover;
  background-position: center;
}

/* Body ------------------------------------------ */

.page-container {
}

.page-content {
  background-color: rgb(24, 24, 24);
  padding: 1rem;
  width: var(--content-width);
  flex-direction: row;
}

.home {
  background-color: chocolate;
}

#news {
  background-image: url(img/plea.png);
  background-position: right;
  background-size: cover;
  height: 15rem;
}

/* Filler for testing */
.filler {
  height: 500px;
}

/* Medium / Tablet */
@media screen and (min-width: 480px) {
  :root {
    --logo-width: 250px;
  }

  #hamburger {
    display: block;
  }

  .page-header-top button {
    margin-left: 0.5rem;
  }

  .page-header-menu {
    display: none;
  }
}

/* Large / Desktop */
@media screen and (min-width: 1024px) {
  :root {
    --logo-width: 350px;
    --content-width: 1024px;
  }

  #hamburger {
    display: none;
  }

  .page-header-wrapper,
  .page-container {
    display: flex;
    justify-content: space-around;
  }

  .page-header-content,
  .page-content {
    align-content: center;
  }

  .page-header-menu {
    display: flex;
  }
}

/* Extra large screens */
@media screen and (min-width: 1440px) {
  :root {
    --content-width: 1280px;
  }
}
